<div class="container-fluid">
    <div class="row col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <div *ngIf="loaded" class="text-center">
            <div title="{{height}}cm"
            [class.glyphicon-thumbs-up]="state==='LOW'"
            [class.glyphicon-thumbs-down]="state==='HIGH'"
            [class.glyphicon-eye-open]="state==='CLOSE'"
            class="glyphicon center-block"
            aria-hidden="true"></div>
            <div class="pull-right"><em>Last reading was {{when}}</em></div>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <h3 *ngIf="state==='LOW'">If the river were {{-delta()}}cm higher,
            you would get wet feet between Pigeons Lock
            and Tackley.</h3>
        <div *ngIf="state==='HIGH'">
            <h3>Looks like you might get wet feet between
                Pigeons Lock and Tackley.</h3>
            <h4>Estimated depth {{delta()}}cm</h4>
        </div>
        <div *ngIf="state==='CLOSE'">
            <h3>It's a close call.
                Between Pigeons Lock and Tackley you might damp
                but you probably can get by.</h3>
        </div>
        <!--pre>{{data | json}}</pre-->
        <hr>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <div>
            Data from the
            <a href="https://map.flood.network/">Flood Network</a>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <div>
            <em>Disclaimer: This is a work in progress.
                Use at your own risk. Feedback to
                <a href="mailto:floodwatch@gooses.co.uk">floodwatch@gooses.co.uk</a></em>
        </div>
    </div>
</div>
