.note {
    color: #a8a8a8;
}
smile {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: bottom;
    background: url("./assets/img/smile.png");
}

.glyphicon-thumbs-up {
    color: green;
}
.glyphicon-thumbs-down {
    color: #e60000;
}

.glyphicon-exclamation-sign {
    color: red;
}
.glyphicon-eye-open {
    color: lightgrey;
}
.glyphicon, .fa {
    font-size: 180px;
}

.fa-refresh {
    opacity: 0.4;
}

@media(max-width: 768px) {
    .glyphicon, .fa {
        font-size: 80px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    .page-header {
        margin-top: 10px;
    }
}
