<div class="container-fluid">
    <div class="row col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1><a [routerLink]="['/Index']">About</a></h1>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ex quasi corporis labore impedit perferendis facere laudantium amet eligendi blanditiis asperiores itaque, quia, tempore fugit voluptate delectus velit maiores nobis!</span>
            <span>Soluta amet recusandae, officiis nemo magnam facilis quam aliquid obcaecati delectus totam, deserunt est, voluptatibus, dolorem debitis odit veritatis ad qui possimus! Ut alias sint provident, dolore! Quibusdam, doloremque cupiditate.</span>
            <span>Suscipit possimus aperiam id nesciunt sint quo enim debitis alias dignissimos a libero, minima, tenetur consequatur, sed sunt eveniet, cupiditate reprehenderit itaque doloremque placeat ex obcaecati. Similique eaque, architecto quia.</span>
            <span>Assumenda illum aperiam soluta odio? Totam consequuntur minima molestiae quasi et pariatur quas explicabo, quibusdam voluptate laudantium dolores ducimus quo quam quidem. Nam amet repudiandae, reprehenderit, aut provident accusamus nobis.</span>
            <span>Ut enim odit, ratione possimus repellendus sunt harum non voluptate vero labore molestiae sed officia earum rem nisi iusto dolorum ad ducimus deserunt voluptatibus nulla explicabo suscipit. Earum, numquam, totam!</span>
            <span>Beatae ipsam ipsum asperiores qui possimus praesentium rem libero sed accusamus fuga? Repellendus, dignissimos. Tempora ipsum quisquam adipisci cumque sequi magni nisi libero, architecto voluptate, consectetur nostrum perspiciatis voluptates non?</span>
            <span>Deserunt ea nemo, expedita eligendi autem unde repellat temporibus voluptatum. Dolorem, ullam repudiandae. Quidem omnis cumque rerum eligendi, suscipit dicta reprehenderit, velit? Accusantium adipisci autem harum nesciunt, facilis repellat totam.</span>
            <span>Totam expedita tenetur deleniti iste quibusdam accusantium, exercitationem qui veritatis possimus cum, autem, fuga numquam ex reiciendis ad! Esse vel sapiente enim perferendis ipsa eveniet aliquam et quae excepturi facere?</span>
            <span>Provident tenetur itaque, possimus enim velit rem asperiores dolor eius dolore facere doloribus veritatis nulla, aliquam similique commodi eaque, necessitatibus quidem totam quam voluptates ut! Laboriosam accusantium ipsa obcaecati esse.</span>
            <span>Recusandae autem hic pariatur, sit dicta voluptate velit eos nostrum, voluptatum, commodi ullam expedita. Vitae sint illo error porro voluptatum fugit molestiae modi, assumenda, autem veritatis asperiores, iusto rem. Sapiente.</span>
        </p>
    </div>
</div>
