<div id="{{id}}" class="carousel slide">
    <div class="carousel-inner" role="listbox">
        <div class="item" [class.active]="i===0" *ngFor="#img of images; #i=index">
            <img src="/assets/img/gallery/{{img.src}}" alt="{{img.descr}}">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#{{id}}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#{{id}}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>
