<div class="container-fluid">
    <div class="row col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>Flood Watch</h1>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <p *ngFor="#site of sites">
            <a [routerLink]="[site]">
                <button type="button" class="btn btn-primary btn-lg btn-block">{{site}}</button>
            </a>
        </p>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <p>
            <a [routerLink]="['About']">
                <button type="button" class="btn btn-default btn-lg btn-block">About this site</button>
            </a>
        </p>
    </div>
</div>
