<div class="container-fluid">
    <div class="row col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>Flood Watch</h1>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <p *ngFor="let site of sites">
            <a [routerLink]="[site.link]">
                <button type="button"
                    [class.btn-primary]="!site.type"
                    [class.btn-default]="site.type"
                class="btn btn-lg btn-block">{{site.link}}</button>
            </a>
        </p>
    </div>
</div>
