<div class="container-fluid">
    <div class="row col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1><a [routerLink]="['/Index']">{{config.title}}</a></h1>
            <h2 *ngIf="config.subtitle">{{config.subtitle}}</h2>
        </div>
        <div *ngIf="when" class="pull-right last-reading">
            <lastreading [when]="when"></lastreading>
        </div>
    </div>

    <div class="row col-md-6 col-md-offset-3 text-center" [style.display]="firstLoaded? 'block' : 'none'">
        <gauge [delta]="delta" [levels]="levels" [plotBands]="plotBands"></gauge>
    </div>
    <div class="row col-md-6 col-md-offset-3 text-center" [style.display]="firstLoaded? 'block' : 'none'">
        <timeseries [data]="timeseries" [plotBands]="plotBands" [normalDistance]="normalDistance"></timeseries>
    </div>

    <div class="row col-md-6 col-md-offset-3 text-center">
        <div *ngIf="!loaded && loadError" class="alert alert-danger" role="alert">
            <div>
                Oh dear. There was a problem with the sensor reading. Will retry shortly.
            </div>
            <div *ngIf="when">The last good reading was {{delta}}cm, {{when | moment}} </div>
        </div>
        <div *ngIf="!loaded && !loadError" class="alert alert-info" role="alert">
            <loader></loader>
        </div>
        <div *ngIf="loaded" >
            <div class="alert" role="alert"
                [class.alert-success]="state === 'VERY_LOW' || state === 'LOW'"
                [class.alert-info]="state === 'CLOSE'"
                [class.alert-warning]="state === 'HIGH'"
                [class.alert-danger]="state === 'VERY_HIGH' || state === 'EXTREME'">
                {{config.messages[state] | depth:above}}
            </div>
        </div>
    </div>

    <div class="row col-md-6 col-md-offset-3" *ngIf="debug">
        <pre>{{data | json}}</pre>
    </div>
</div>
