@media(max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 12px;
    }
    .page-header {
        margin-top: 10px;
    }
    .last-reading {
        font-size: 12px;
    }

}

.loading {
    background-image: url("assets/img/loader.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

