<div class="container-fluid">
    <div class="row col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>{{config.title}}</h1>
            <h2>{{config.subtitle}}</h2>
        </div>
        <div *ngIf="when" class="pull-right last-reading">
            <em>Last reading {{when | moment}}</em>
        </div>
    </div>

    <div class="row col-md-6 col-md-offset-3 text-center" [style.display]="firstLoaded? 'block' : 'none'">
        <div class="chart"></div>
    </div>

    <div class="row col-md-6 col-md-offset-3 text-center">
        <div *ngIf="!loaded">
            <div *ngIf="loadError" class="alert alert-danger" role="alert">
                <div>
                    Oh dear. There was a problem with the sensor reading. Will retry shortly.
                </div>
                <div *ngIf="when">The last good reading was {{delta}}cm, {{when | moment}} </div>
            </div>
            <div *ngIf="!loadError" class="alert alert-info" role="alert">
                <loader></loader>
            </div>
        </div>
        <div *ngIf="loaded">
            <div *ngIf="state === 'VERY_LOW'">
                <div class="alert"
                [class.alert-success]="state === 'VERY_LOW'"
                 role="alert">
                    {{messages[state] | depth:-delta}}
                </div>
            </div>
            <div *ngIf="state === 'LOW'">
                <div class="alert alert-success" role="alert">
                    {{messages[state] | depth:-delta}}
                </div>
            </div>
            <div *ngIf="state === 'CLOSE'">
                <div class="alert alert-info" role="alert">
                    {{messages[state] | depth:-delta}}
                </div>
            </div>
            <div *ngIf="state === 'HIGH'">
                <div class="alert alert-danger" role="alert">
                    {{messages[state] | depth:-delta}}
                </div>
            </div>
            <div *ngIf="state === 'VERY_HIGH'">
                <div class="alert alert-danger" role="alert">
                    {{messages[state] | depth:-delta}}
                </div>
            </div>
            <div *ngIf="state === 'EXTREME'">
                <div class="alert alert-info" role="alert">
                    {{messages[state] | depth:-delta}}
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-6 col-md-offset-3">
        <div>
            Data from the
            <a href="https://map.flood.network/">Flood Network</a>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <div>
            <em>Disclaimer: This is a work in progress.
                Use at your own risk. Feedback to
                <a href="mailto:{{config.feedback}}">{{config.feedback}}</a></em>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3" *ngIf="debug">
        <pre>{{data | json}}</pre>
    </div>
</div>
