.loading {
    background-image: url("assets/img/loader.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gauge {
    height: 400px;
}

.timeseries {
    height: 150px;
}

@media(max-width: 768px) {
    .last-reading {
        font-size: 12px;
    }
    .timeseries {
        height: 80px;
    }
    .gauge {
        height: 250px;
    }
}
