<div class="container-fluid">
    <div class="row col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>{{config.title}}</h1>
            <h2>{{config.subtitle}}</h2>
        </div>
        <div *ngIf="when" class="pull-right last-reading">
            <em>Last reading {{when | moment}}</em>
        </div>
    </div>

    <div class="row col-md-6 col-md-offset-3 text-center" [style.display]="firstLoaded? 'block' : 'none'">
        <div class="chart"></div>
    </div>

    <div class="row col-md-6 col-md-offset-3 text-center">
        <div *ngIf="!loaded">
            <div *ngIf="loadError" class="alert alert-danger" role="alert">
                <div>
                    Oh dear. There was a problem with the sensor reading. Will retry shortly.
                </div>
                <div *ngIf="when">The last good reading was {{delta}}cm, {{when | moment}} </div>
            </div>
            <div *ngIf="!loadError" class="alert alert-info" role="alert">
                <loader></loader>
            </div>
        </div>
        <div *ngIf="loaded">
            <div *ngIf="States.VERY_LOW">
                <div class="alert alert-success" role="alert">
                    So low, even the camels are nervous.
                </div>
            </div>
            <div *ngIf="States.LOW">
                <div class="alert alert-success" role="alert">
                    If the river were {{-delta}}cm higher, you might get wet feet.
                </div>
            </div>
            <div *ngIf="States.CLOSE">
                <div class="alert alert-info" role="alert">
                    It's a close call. You might get a wee bit soggy but you probably can get around the edge with care.
                </div>
            </div>
            <div *ngIf="States.HIGH">
                <div class="alert alert-danger" role="alert">
                    Looks like you might get damp. But if you have suitable footwear you still might get through OK.
                </div>
            </div>
            <div *ngIf="States.VERY_HIGH">
                <div class="alert alert-danger" role="alert">
                    Pretty damned deep. Wellies only
                </div>
            </div>
            <div *ngIf="States.EXTREME">
                <div class="alert alert-info" role="alert">
                    Call Jacques Cousteau
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-6 col-md-offset-3">
        <div>
            Data from the
            <a href="https://map.flood.network/">Flood Network</a>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3">
        <div>
            <em>Disclaimer: This is a work in progress.
                Use at your own risk. Feedback to
                <a href="mailto:{{config.feedback}}">{{config.feedback}}</a></em>
        </div>
    </div>
    <div class="row col-md-6 col-md-offset-3" *ngIf="debug">
        <pre>{{data | json}}</pre>
    </div>
</div>
